<section
  id="about-me"
  class="mx-auto mt-28 grid max-w-screen-md grid-cols-7 gap-4 px-4 pt-4"
>
  <article class="col-span-4 flex flex-col overflow-hidden rounded-lg">
    <header class="flex items-center bg-neutral-900 p-2 px-4">
      <div class="flex gap-2">
        <div class="h-3 w-3 rounded-full bg-red-500"></div>
        <div class="h-3 w-3 rounded-full bg-yellow-500"></div>
        <div class="h-3 w-3 rounded-full bg-emerald-500"></div>
      </div>
      <h3 class="mx-auto font-jetbrains text-sm text-neutral-400">
        ~/src/README.md
      </h3>
      <!-- IGNORE -->
      <div class="flex gap-2">
        <div class="h-3 w-3 rounded-full"></div>
        <div class="h-3 w-3 rounded-full"></div>
        <div class="h-3 w-3 rounded-full"></div>
      </div>
    </header>
    <div
      class="flex min-h-[300px] flex-col gap-4 bg-gradient-to-t from-neutral-900/40 via-90% px-4 py-8 font-jetbrains text-sm font-thin [&>p]:text-neutral-400"
    >
      <h2 class="text-4xl font-black [&>span]:text-purple-500 tracking-tighter">
        <span>#</span> ABOUT ME
      </h2>
      <p class="[&>strong]:font-bold">
        Lorem ipsum <strong>dolor sit</strong> amet consectetur adipisicing elit.
        Nulla vitae in blanditiis dolores, <strong>commodi ab adipisci</strong> iste,
        ut incidunt illo ducimus repudiandae magni, inventore quo dicta excepturi
        <strong>debitis provident</strong> similique.
      </p>
      <p class="[&>strong]:font-bold">
        Lorem ipsum <strong>dolor sit</strong> amet consectetur adipisicing elit.
        Nulla vitae in blanditiis dolores, <strong>commodi ab adipisci</strong> iste,
        ut incidunt illo ducimus repudiandae magni, inventore quo dicta excepturi
        <strong>debitis provident</strong> similique.
      </p>
    </div>
  </article>

  <!-- TODO: Add image -->
  <div class="col-span-3 rounded-lg bg-neutral-800"></div>
</section>
