---
import BrowserWindow from "./browser-window.astro";
---

<section
  id="about-me"
  class="mx-auto mt-28 grid max-w-screen-md gap-6 px-4 pt-4 sm:grid-cols-7"
>
  <div
    class="row-start-2 min-h-[380px] bg-neutral-800 sm:col-span-3 sm:row-start-auto"
  >
    <img
      src="/me.jpeg"
      alt="Santiago García's face"
      class="h-full w-full rounded-lg object-cover"
    />
  </div>
  <BrowserWindow path="~/src/README.md">
    <div
      class="flex min-h-[300px] flex-col gap-4 bg-gradient-to-t from-neutral-900/40 via-90% px-4 py-8 font-jetbrains font-thin [&>p]:text-neutral-400"
    >
      <h2 class="text-4xl font-black [&>span]:text-purple-500 tracking-tighter">
        <span>#</span> ABOUT ME
      </h2>
      <p class="[&>strong]:font-bold">
        Hi there! I'm <strong>Santiago</strong> a
        <strong>passionate full-stack developer</strong>, and my journey in
        software development began back in school when teachers introduced me to
        <strong>Scratch</strong>. That sparked my curiosity for
        <strong>software development</strong>, igniting a passion that continues
        to drive me forward.
      </p>
      <p class="[&>strong]:font-bold">
        As a <strong>full-stack developer</strong>, I specialize in crafting
        seamless digital experiences, fueled by <strong>creativity</strong> and a
        love for <strong>problem-solving</strong>. I'm
        <strong>dedicated</strong> to <strong>transforming ideas</strong> into polished,
        functional <strong>solutions</strong> and thrive on staying at the <strong
          >forefront of technology</strong
        >.
      </p>
    </div>
  </BrowserWindow>
</section>
