---
import SectionTitle from "../common/section-title.astro";
import ProjectCard from "./project-card.astro";
---

<section
  id="projects"
  class="mx-auto mt-28 flex max-w-screen-md flex-col items-center gap-5 px-4 pt-4"
>
  <SectionTitle>My Projects</SectionTitle>
  <p class="max-w-[500px] text-center text-neutral-400">
    Dive into a showcase of my recent projects, each a testament to my skills,
    creativity, and dedication to innovation.
  </p>
  <div class="mt-3 flex flex-col gap-8">
    <ProjectCard
      type="FullStack Project"
      title="Simple Trello"
      stack={[
        "NextJs",
        "TailwindCSS",
        "Supabase",
        "PostgreSQL",
        "TypeScript",
        "Framer Motion",
      ]}
      description="A Trello clone built with NextJS 14 and TypeScript, using Supabase for OAuth, styled with Tailwind CSS."
      deploy="https://simple-trello-iota.vercel.app/"
      repository="https://github.com/yusborinchit/simple-trello"
      image="/simple-trello-mockup.jpeg"
      alt="A screenshot of the Simple Trello app."
      className="intersect:slide-in-from-left-12"
    />
    <ProjectCard
      type="FullStack Project"
      title="Note Editor"
      stack={[
        "NextJs",
        "TailwindCSS",
        "SQLite",
        "NextAuth.js",
        "Drizzle",
        "TypeScript",
      ]}
      description="A Next.js app built with TypeScript that enables users to create, edit, and delete markdown notes."
      deploy="https://notes-editor-pi.vercel.app/"
      repository="https://github.com/yusborinchit/notes-editor"
      image="/notes-editor-mockup.jpeg"
      alt="A screenshot of the Note Editor app."
      className="intersect:slide-in-from-right-12"
    />
    <ProjectCard
      type="FullStack Project"
      title="Online Bash"
      stack={["Vanilla", "OOP", "TailwindCSS", "Vite", "TypeScript"]}
      description="An interactive online bash environment built with TypeScript, OOP principles, and Vite."
      deploy="https://yusborin-bash.vercel.app/"
      repository="https://github.com/yusborinchit/online-bash"
      image="/online-bash-mockup.jpeg"
      alt="A screenshot of the Online Bash app."
      className="intersect:slide-in-from-left-12"
    />
    <ProjectCard
      type="FrontEnd Project"
      title="Sort Algo Visualizer"
      stack={[
        "Vite",
        "TailwindCSS",
        "Vanilla",
        "Sorting Algorithms",
        "TypeScript",
      ]}
      description="A TypeScript app that visualizes the sorting algorithm's complexity."
      deploy="https://sorting-visualizer-nine-gold.vercel.app/"
      repository="https://github.com/yusborinchit/sorting-visualizer"
      image="/sort-visualizer-mockup.jpeg"
      alt="A screenshot of the Sort Algo Visualizer app."
      className="intersect:slide-in-from-right-12"
    />
  </div>
</section>
