---
import SectionTitle from "../common/section-title.astro";
import ProjectCard from "./project-card.astro";
---

<section
  id="projects"
  class="mx-auto mt-28 flex max-w-screen-md flex-col items-center gap-5 px-4 pt-4"
>
  <SectionTitle>My Projects</SectionTitle>
  <p class="max-w-[500px] text-center text-neutral-400">
    Dive into a showcase of my recent projects, each a testament to my skills,
    creativity, and dedication to innovation.
  </p>
  <div class="mt-3 flex flex-col gap-8">
    <ProjectCard
      type="FullStack Project"
      title="Simple Trello"
      stack={["NextJs", "TailwindCSS", "Supabase", "TypeScript"]}
      description="A Trello clone built with NextJS 14 and TypeScript, using Supabase for OAuth, styled with Tailwind CSS."
      deploy="https://simple-trello-iota.vercel.app/"
      repository="https://github.com/yusborinchit/simple-trello"
      image="/simple-trello-mockup.jpg"
      alt=""
    />
    <ProjectCard
      type="FrontEnd Project"
      title="Online Bash"
      stack={["OOP", "TailwindCSS", "Vite", "TypeScript"]}
      description="An interactive online bash environment built with ReactJS, TypeScript, OOP principles, and Vite."
      deploy="https://yusborin-bash.vercel.app/"
      repository="https://github.com/yusborinchit/online-bash"
      image="/online-bash-mockup.jpg"
      alt=""
    />
    <ProjectCard
      type="FrontEnd Project"
      title="Random JSON"
      stack={["Vite", "TailwindCSS", "React", "TypeScript"]}
      description="A ReactJS app built with TypeScript and Vite that generates JSON mockup data based on user input."
      deploy="https://random-json.vercel.app/"
      repository="https://github.com/yusborinchit/random-json"
      image="/random-json-mockup.jpg"
      alt=""
    />
  </div>
</section>
