---
import TechStack from "./tech-stack.astro";
---

<article
  class="grid grid-cols-7 gap-4 overflow-hidden rounded-lg bg-gradient-to-t from-neutral-900/40 via-75%"
>
  <div class="col-span-4 flex flex-col gap-4 px-4 py-8">
    <header class="flex flex-col gap-1">
      <p class="font-jetbrains text-xs uppercase leading-[1] text-purple-500">
        FullStack Project
      </p>
      <h3
        class="text-3xl font-bold leading-[1] tracking-tight underline-offset-2"
      >
        Lorem ipsum dolor sit amet consectetur
      </h3>
    </header>
    <div class="flex flex-wrap gap-1 font-jetbrains text-sm">
      <h4 class="w-full text-sm leading-[1.25] tracking-tight text-neutral-700">
        Tech Stack:
      </h4>
      <TechStack techs={["Astro", "TailwindCSS", "TypeScript"]} />
    </div>
    <p class="text-sm text-neutral-400">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam nisi quidem
      animi aperiam accusantium deleniti!
    </p>
    <footer class="mt-10 flex items-center gap-4">
      <a
        href="#projects"
        class="grid w-fit rounded bg-gradient-to-t from-purple-900 to-purple-500 px-4 py-2 font-jetbrains font-bold transition-[filter] hover:brightness-75"
      >
        getDeploy()
      </a>
      <a target="_blank" href="#" class="group flex w-fit gap-1 font-jetbrains">
        <span aria-hidden="true" class="text-purple-500">[</span>
        <span
          class="flex items-center gap-1 underline-offset-2 group-hover:underline"
        >
          Visit Repo
        </span>
        <span aria-hidden="true" class="text-purple-500">]</span>
      </a>
    </footer>
  </div>
  <div class="col-span-3 bg-neutral-800"></div>
</article>
