---
import SectionTitle from "../common/section-title.astro";
import EducationCard from "./education-card.astro";
---

<section
  id="education"
  class="mx-auto mt-28 flex max-w-screen-md flex-col items-center gap-5 px-4 pt-4"
>
  <SectionTitle>Educational Background</SectionTitle>
  <p class="max-w-[400px] text-pretty text-center text-neutral-400">
    A peek into my educational background and learning experiences.
  </p>
  <div class="grid gap-6 sm:grid-cols-2">
    <EducationCard
      subtitle="Technological high school"
      title="Instituto Tecnológico Superior - Arias Balparda"
      duration="From 2020 to 2023"
      description="At my technical high school, I mastered web design basics, learning HTML, CSS, and JavaScript for front-end development."
      href="https://its.utu.edu.uy/"
    />
    <EducationCard
      subtitle="University of Engineering"
      title="Facultad de Ingeniería - Universidad de la República"
      duration="From 2023 to Present"
      description="At university, I delved into advanced algorithms and software patterns, enriching my programming knowledge beyond basics."
      href="https://www.fing.edu.uy/"
    />
  </div>
</section>
