---
import SectionTitle from "../common/section-title.astro";
import ProjectCard from "../projects/project-card.astro";
---

<section
  id="clients"
  class="mx-auto mt-28 flex max-w-screen-md flex-col items-center gap-5 px-4 pt-4"
>
  <SectionTitle>Clients</SectionTitle>
  <p class="max-w-[500px] text-center text-neutral-400">
    Recently, I have been working as a freelancer, creating projects for small
    businesses.
  </p>
  <div class="mt-3">
    <ProjectCard
      type="Client Project"
      title="Buttefly Nails"
      stack={[
        "NextJs",
        "TailwindCSS",
        "Drizzle",
        "PostgreSQL",
        "Framer Motion",
        "TypeScript",
      ]}
      description="I created a landing page for Butterfly Nails, a boutique nail salon, featuring an integrated online booking system for easy appointment scheduling."
      deploy="https://butterflynails.shop/"
      repository="https://github.com/yusborinchit/butterfly-nails"
      image="/butterfly-nails-mockup.webp"
      alt="A screenshot of the Butterfly Nails landing page."
      className="intersect:slide-in-from-bottom-12"
    />
  </div>
</section>
