---
import EducationSection from "../components/education/education-section.astro";
import Header from "../components/header/header.astro";
import HeroSection from "../components/hero/hero-section.astro";
import ProjectsSection from "../components/projects/projects-section.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<!-- TODO: Add a description -->
<MainLayout title="Santiago García | Portfolio" description="Lorem bla bla">
  <Header />
  <main>
    <HeroSection />
    <EducationSection />
    <ProjectsSection />
  </main>
  <footer class="pt-28"></footer>
</MainLayout>
