---
import Header from "../components/header.astro";
import EducationSection from "../components/sections/education-section.astro";
import HeroSection from "../components/sections/hero-section.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<!-- TODO: Add a description -->
<MainLayout title="Santiago García | Portfolio" description="Lorem bla bla">
  <Header />
  <main>
    <HeroSection />
    <EducationSection />
  </main>
  <footer class="pt-28"></footer>
</MainLayout>
