---
import AboutMeSection from "../components/about-me/about-me-section.astro";
import ClientsSection from "../components/clients/clients-section.astro";
import ContactSection from "../components/contact/contact-section.astro";
import EducationSection from "../components/education/education-section.astro";
import Footer from "../components/footer/footer.astro";
import Header from "../components/header/header.astro";
import HeroSection from "../components/hero/hero-section.astro";
import ProjectsSection from "../components/projects/projects-section.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout
  title="Santiago García | Portfolio"
  description="Santiago García's Portfolio"
>
  <Header />
  <main>
    <HeroSection />
    <EducationSection />
    <ClientsSection />
    <ProjectsSection />
    <AboutMeSection />
    <ContactSection />
  </main>
  <Footer />
</MainLayout>
