<div
  class="absolute inset-0 -z-10 bg-gradient-to-t from-[#0a0a0a] to-[#171717]"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#262626_1px,transparent_1px),linear-gradient(to_bottom,#262626_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"
  >
  </div>
</div>
