---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---

<a
  href={href}
  class="p-4 text-sm leading-[1] hover:underline hover:decoration-purple-500 hover:underline-offset-2"
>
  {text}<span class="text-purple-500">()</span>
</a>
