<footer
  class="mx-auto mt-20 flex max-w-screen-md flex-col items-center justify-between gap-1 px-4 py-8 text-neutral-600 sm:flex-row"
>
  <p>
    Made with
    <span class="font-bold text-purple-500 opacity-60">♥</span> and
    <span class="font-bold text-purple-500 opacity-60">Astro</span>
  </p>
  <p>Copyright &copy; 2024. All rights reserved.</p>
</footer>
