<h2 class="flex items-center gap-2 font-jetbrains font-extrabold leading-[1]">
  <span aria-hidden="true" class="text-xl text-neutral-500">{"<!--"}</span>
  <span class="text-4xl tracking-tighter"><slot /></span>
  <span aria-hidden="true" class="text-xl text-neutral-500">{"-->"}</span>
</h2>
