<h2 class="flex items-center gap-2 font-jetbrains font-black leading-[1]">
  <span aria-hidden="true" class="min-w-[4ch] text-xl text-neutral-500">
    {"<!--"}
  </span>
  <span class="text-center text-4xl tracking-tighter"><slot /></span>
  <span aria-hidden="true" class="min-w-[3ch] text-xl text-neutral-500">
    {"-->"}
  </span>
</h2>
